// Global variables
$white: #fff;
$light-grey: #898989;
$dark-grey: #1F2020;
$black: #1A1A1A;

// Text colors
$primary-txt-color: $white;
$secondary-txt-color: $light-grey;

// Background colors
$primary-bg-color: $black;
$secondary-bg-color: $dark-grey;
